<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Artigos Listas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
    <h1>Artigos Totais</h1>
    <table class="table table-dark">
        <thead>
        <tr>
            <th> ID </th>
            <th> TÍTULO </th>
        </tr>
        </thead>
        <tbody>
            <tr th:if="${artigos.empty}">
                <td colspan="2">Nenhum artigo disponível</td>
            </tr>
            <tr th:each="artigo : ${artigos}">
                <td><span th:text="${artigo.id}"> Title </span></td>
                <td><span th:text="${artigo.titulo}"> Author </span></td>
                <td>
                    <a th:href="${artigo.id}" class="btn btn-info">Editar</a>
                    <a th:href="@{/artigos/delete/{id}(id=${artigo.id})}" class="btn btn-danger">Remover</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/artigos/novo" class="btn btn-success">Novo Artigo</a>
    </div>
</body>
</html>